<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LoginSuite">
<listeners>
<listener class-name="Utility.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Demo.TestNGdemo"/>
      <class name="Demo.TestNGdemo2"/>
      <class name="Demo.TestNGdemo3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
